body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    transition: background 0.5s ease;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, opacity 1s ease, width 1s ease, height 1s ease;
    opacity: 0;
    width: 300px;
    height: 400px;
    margin-top: 80px;
}

.login-container.show-animation {
    transform: translateX(0);
    opacity: 1;
}

.login-container h2 {
    margin: 0;
    color: #333;
    font-size: 30px;
}

.login-container .graduation-cap {
    font-size: 60px;
    margin: 20px;
    color: #007BFF;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container button:active {
    transform: scale(0.95);
}

.error-message {
    color: red;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 22px;
}

header .logo h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Scrolling Text */
.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.scrolling-text p {
    display: inline-block;
    font-size: 38px;
    font-weight: 600;
    animation: scrollText 10s linear infinite;
    color: #003366;
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}
